<h1>Ootds Index</h1>

<br/>

<div>
There are currently <%= @ootds.length %> created.
</div>

<br>

<div>
<%= link_to "New OOTD",  new_ootd_path, class: "btn btn-default btn-primary" %>
</div>
<br>

<div class='list-group'>
<% @ootds.each do |ootd| %>
	<div>
		<%= image_tag ootd.ootd_img.url(:medium) %>
	</div>
	<div>
		Trend: <%= link_to ootd.trend, "/ootds/#{ootd.id}"%>  <br>
		Caption: <%= ootd.caption %> <br>
	
	</div>
	<br>

<% end %>
</div>