<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= image_tag @ootd.ootd_img.url(:medium) %>
		</div>
		<div class="panel-body">
			<h1><%= @ootd.trend %></h1>
			<p><%=@ootd.caption %></p>
		</div>
		<div class="panel-footer">
			<div class="row">
					<div class="container-fluid">
					Submitted by: <%=@ootd.user.username %>
						<div class="col-md-6 btn-group pull-right">

							<%= link_to like_ootd_path, method: :put, class: "btn btn-default" do %>
									<%= image_tag "/images/ootds/heart-icon.png", class: "heart-icon" %>
									<%= @ootd.get_upvotes.size %>
							<% end %>

						
							<%= link_to "Back",  ootds_path, class: "btn btn-default" %>
							<% if @ootd.user == current_user %>
								<%= link_to "Edit",  edit_ootd_path, class: "btn btn-default"  %>
								<%= link_to "Delete",  ootd_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"  %>
								<%= link_to "Add Items",  new_ootd_item_path(@ootd), class: "btn btn-default"  %>
							 <% end %>
						</div>
					</div>
			</div>
		</div>


		
		<div class="panel-body">
			<div class="row">
				<h3 style="text-align: center"> Shop Similar Items</h3>
				<div id="pins" class="transitions-enabled">
					<% @items.each do |item| %>

						<div class="box panel panel-default">
							<%= item.name %>
							<%= image_tag item.item_img.url(:medium) %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		


	<div>
</div>


<script>
	$(function(){

	  var $container = $('#pins');

	  $container.imagesLoaded(function(){
	    $container.masonry({
	      itemSelector: '.box',
	      isFitWidth: true
	    });
	  });
	 });

</script>
