<%= form_for @item, url: ootds_path, html: { multipart: true } do |f| %>
  <div>
    <%= f.text_field :item_category, placeholder: "Category", class: "form-control" %>
  </div>	
  <div>
    <%= f.text_field :name, placeholder: "Item Name", class: "form-control" %>
  </div>
    <div>
    <%= f.text_field :purchase_link, placeholder: "Purchase Link", class: "form-control" %>
  </div>

   	<h4>Upload Photo: </h4>
  <div>
  	 <%= f.file_field :item_img, class: "form-control" %>
  </div>
  <br>

  <%= f.submit "Submit", class: "btn btn-primary" %>


<% end %>



<!--   create_table "items", force: :cascade do |t|
    t.integer  "user_id"
    t.string   "item_image"
    t.string   "item_category"
    t.string   "name"
    t.string   "purchase_link"
    t.datetime "created_at",            null: false
    t.datetime "updated_at",            null: false
    t.string   "item_img_file_name"
    t.string   "item_img_content_type"
    t.integer  "item_img_file_size"
    t.datetime "item_img_updated_at"
  end -->
