<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
	 <div class="navbar-header">
     	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sunday's Best</a>
	</div>

	 <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

	 	<!-- @user.present? -->
	    <% if current_user %>
	    
	      <%= button_to "Logout", logout_path, method: "get", class: "btn btn-default navbar-right navbar-btn" %>
	       <%= link_to "Profile", current_user, method: "get", class: "btn btn-default navbar-right navbar-btn" %>
	        <%= link_to "OOTD Gallery", ootds_path, method: "get", class: "btn btn-default navbar-right navbar-btn" %>
	         <%= link_to "Favorites", favorites_path, method: "get", class: "btn btn-default navbar-right navbar-btn" %>
	    <% else %>
		  
	        <%= button_to "Login", sign_in_path, method: "get", class: "btn btn-default navbar-right navbar-btn" %>
		    <%= button_to "Sign Up", new_user_path, method: "get", class: "btn btn-default navbar-right navbar-btn" %>
		  <% end %>

   	 </div>



	</div>
</div>