<%= form_for @ootd, url: ootds_path, html: { multipart: true } do |f| %>
  <div>
    <%= f.text_field :trend, placeholder: "Trend", class: "form-control" %>
  </div>	
  <div>
    <%= f.text_field :caption, placeholder: "Caption", class: "form-control" %>
  </div>

   	<h4>Upload Photo: </h4>
  <div>
  	 <%= f.file_field :ootd_img, class: "form-control" %>
  </div>
  <br>

  <%= f.submit "Submit", class: "btn btn-primary" %>


<% end %>


