<div class="container-fluid">

<%= form_for @ootd do |f| %>
  <div>
    <h3 class="ootd-font"> Select Trend: </h3>
    <%= f.select :trend, [['Boho', 'boho'], ["Vintage", 'vintage'], ['Preppy', 'preppy'], ['Sporty', 'sporty'], ['Urban', 'urban'], ['Classic', 'classic'], ['Edgy', 'edgy'], ['Modern', 'modern'] ],{}, {:class => 'form-control'} %>
  </div>	
  <div>
    <%= f.text_field :caption, placeholder: "Caption", class: "form-control" %>
  </div>
    <p>
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma", class: "form-control" %>
    </p>
   	<h2 class="ootd-font">Upload Photo: </h2>
  <div>
  	 <%= f.file_field :ootd_img, class: "form-control" %>
  </div>
  <br>

  <%= link_to "Back",  ootds_path, class: "btn btn-default" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>



</div>
