<h1>Sign Up</h1>

<%= form_for @user, url: users_path, html: { multipart: true } do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= f.text_field :username, placeholder: "@username" %>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.text_field :gender, placeholder: "Gender" %>
  </div>
  <div>
    <%= f.text_field :city, placeholder: "City" %>
  </div>
   <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  </div>

  <h3>Upload User Photo: </h3>
  <div>
     <%= f.file_field :user_img %>
  </div>

  <br>

  <div>
  <%= f.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %> 