<div>
<%= link_to "New OOTD",  new_ootd_path, class: "btn btn-default btn-primary" %>
<%= link_to "OOTD Gallery",  ootds_path, class: "btn btn-default btn-primary" %>
</div>


<h1> Welcome, <%= @user.name %>!  </h1>
<div>
	<%= image_tag @user.user_img.url(:medium) %>
</div>
<div>
  Username: <%= @user.username %>  <br/>
  City: <%= @user.city %> <br/>
  Member Since: <%= @user.created_at %> 
</div>

<div>
	<img src="<%= @user.user_image %>">
</div>

<h2>Your Contributed OOTDS </h2>
<br><br>
<div id="pins" class="transitions-enabled">
	<% @ootds.each do |ootd| %>
		<div class="box panel panel-default">
			<%= image_tag ootd.ootd_img.url(:medium) %>
			<div class="panel-body">
				<%= link_to ootd.trend, "/ootds/#{ootd.id}"%> <br/>
				<%= ootd.caption %> 
			</div>
		</div>
	<% end %>
</div>

<h2>Your Generated Outfits </h2>

<script>
	$(function(){

	  var $container = $('#pins');

	  $container.imagesLoaded(function(){
	    $container.masonry({
	      itemSelector: '.box',
	      isFitWidth: true
	    });
	  });
	 });

</script>