<h1> Welcome, <%= @user.name %>!  </h1>
<div>
  Username: <%= @user.username %>  <br/>
  City: <%= @user.city %> <br/>
  Member Since: <%= @user.created_at %> 
</div>

<div>
	<%= image_tag "/images/ootds/jam2.png" %>

</div>