<h1> Welcome, <%= @user.name %>!  </h1>
<div>
  Username: <%= @user.username %>  <br/>
  City: <%= @user.city %> <br/>
  Member Since: <%= @user.created_at %> 
</div>

<div>
	<img src="<%= @user.user_image %>">
</div>