<div class="splash-page">
  <div class="container centered">
    <h1 class="splash-font"> Sunday's Best </h1>
    <h2 class="splash-font"> Discover the finest outfit inspiration.</h1>


       <% if current_user %>
        <%= link_to "OOTD Gallery", ootds_path, method: "get",  class: "btn btn-button-name btn-lg"  %>
          <%= link_to "Profile", current_user, method: "get", class: "btn btn-button-name btn-lg" %>
          <%= link_to "Favorites", favorites_path, method: "get", class: "btn btn-button-name btn-lg" %>

      <% else %>
         <%= link_to "Sign Up", new_user_path, method: "get",  class: "btn btn-button-name btn-lg"  %>
          <%= link_to "Login", sign_in_path, method: "get", class: "btn btn-button-name btn-lg" %>

       <% end %>
  </div>
</div>