<h1> Outfit Generation </h1>

<h3> Top </h3>
<div class="generate-page container-fluid">

	<%= form_for @item_tops, url: items_path, html: { multipart: true } do |f| %>
			
				<div class="panel-body">
					<%= image_tag f.object.item_img(:medium) %>
				</div>

		<br><br>

	<% end %>

<h3> Bottom </h3>
	<%= form_for @item_bottoms, url: items_path, html: { multipart: true } do |f| %>
			
				<div class="panel-body">
					<%= image_tag f.object.item_img(:medium) %>
				</div>

		<br><br>

	<% end %>

	<%= link_to "Update Outfit", "/outfit/generate", :class => 'btn btn-default' %>
	<%= link_to "Save Outfit", "/ootds", :class => 'button_submit btn btn-primary' %>
</div>