<h1> Outfit Generation </h1>


<div class="generate-page container-fluid">

	<%= form_for @item_tops, url: items_path, html: { :class=> "form2" } do |f| %>
			
				<div class="panel-body">
					<%= image_tag f.object.item_img(:medium) %>
				</div>
	<% end %>


	<%= form_for @item_bottoms, url: items_path, html: { :class=> "form2" } do |f| %>
			
				<div class="panel-body">
					<%= image_tag f.object.item_img(:medium) %>
				</div>

	<% end %>

	<%= link_to "Update Outfit", "/outfit/generate", :class => 'btn btn-default' %>
	<%= link_to "Save Outfit", "user_path", :class => 'button_submit btn btn-primary' %>
</div>



<script>
$( ".button_submit" ).click(function(event) {
	event.preventDefault();
   $(".form1").trigger("submit");
    $(".form2").trigger("submit");
});
   
</script>
