<!-- add items form -->

<div class="new-edit-ootd-form">
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
			<h1 class="ootd-font">Upload New OOTD Items </h1>
				<%= form_for ([:ootd, @item]) do |f| %>
					  <div>
						<h2 class="ootd-font">Select Item Category:</h2>
					    <%= f.select :item_category, [['Top'], ["Bottom"], ['Shoes'] ],{}, {:class => 'form-control'} %>
					  </div>	
					  <div>
					    <%= f.text_field :name, placeholder: "Item Name", class: "form-control" %>
					  </div>
					  <div>
					    <%= f.text_field :purchase_link, placeholder: "Item URL", class: "form-control" %>
					  </div>


					   	<h4 class="ootd-font">Upload Photo: </h4>
					  <div>
					  	 <%= f.file_field :item_img, class: "form-control" %>
					  </div>
					  <br>

					  	<%= link_to "Back",  ootds_path, class: "btn btn-default" %>
					  <%= f.submit "Submit", class: "btn btn-primary" %>



				<% end %>


			<br>

		

		</div>
	</div>
</edit>