<!DOCTYPE html>
<html>
<head>
  <title>Sunday's Best</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Google font -->
<link href='https://fonts.googleapis.com/css?family=Delius+Swash+Caps' rel='stylesheet' type='text/css'>

</head>
<body>

		<%= bootstrap_flash %>
		<%= render 'partials/navbar' %>
		<%= yield %>



</body>
</html>
